@tailwind base;
@layer base {
  html,
  body {
    font-family: 'VT323', monospace;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .aside {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
  }
}
@tailwind components;
@tailwind utilities;
